<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<!---

<div class="titles edit">
  <h2>Update Doujinishi Title</h2>

  <%= form_for(:doujinshi, :url => {:action => 'update', :id => @doujinshi.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Admin User") %>
    </div>
  <% end %>
</div>   


--->